[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=tsumego
Exec=tsumego
Name=tsumego
# translation example:
# your app name in French locale (fr)
Name[fr]=tsumego

